__pycache__/
__pycache__
*.pth
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
.mypy_cache

result/
result
results
results/
result-bin
result-bin/
data
data/
models
models/
server
utils/
clients/
arxiv/
arxiv
FLamby/
FLamby
dr-kaggle/
dr-kaggle
DRR/
DRR
cxr-covid-19/
cxr-covid-19
isic2019/
isic2019

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*~

# macOS dir files
.DS_Store

.gdb_history

.pth
.pt